@using Flower_shop.Models.UserViewModels
@model LoginViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/authentication_autorization.css?v=1" />

<section class="autorization">
    <div class="autorization__container">
        <div class="main-block">
            <form method="post">
                <div class="block">
                    <div class="title">
                        ВХОД:
                    </div>
                </div>
                <div class="block">
                    <div class="title">
                        ВВЕДИТЕ EMAIL:
                    </div>
                    <div class="input">
                        @Html.TextBoxFor(x => x.Email)
                    </div>
                </div>
                <div class="block">
                    <div class="title">
                        ВВЕДИТЕ ПАРОЛЬ:
                    </div>
                    <div class="input">
                        @Html.TextBoxFor(x => x.Password)
                    </div>
                </div>
                <input type="submit" value="Вход"/>
            </form>
            <a href="/Authentication/Registration">РЕГИСТРАЦИЯ</a>
        </div>
    </div>
</section>