@model LoginViewModel
@inject IColorSettingsService colorSettingService
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/authentication_autorization.css?v=2" />
<link rel="stylesheet" href="~/css/forms.css?v=2" />

<section class="autorization">
    <div class="autorization__container">
        <div class="block">
            <div class="name">
                ВХОД:
            </div>
            <div class="form-field">
                <form method="post">
                    <div class="input">
                        @Html.ValidationMessageFor(x => x.Email)
                        @Html.TextBoxFor(x => x.Email, new {@class="input-field", placeholder="ВВЕДИТЕ EMAIL"})
                    </div>
                    <div class="input">
                        @Html.ValidationMessageFor(x => x.Password)
                        @Html.PasswordFor(x => x.Password, new {@class="input-field", placeholder="ВВЕДИТЕ ПАРОЛЬ"})
                    </div>
                    <div class="button-submit">
                        <input type="submit" value="ВОЙТИ" />
                    </div>
                </form>
                <a href="/Authentication/Registration">РЕГИСТРАЦИЯ</a>
            </div>
        </div>
    </div>
</section>

 <style>
    @{
        var firstColor = colorSettingService
                                .GetColorByAssignment("Поменять цвет кнопки \"Регистрация\"")
                                .ColorHex;
    }
    .name{
        color: @firstColor;
    }
    .button-submit input{
        background-color: @firstColor;
    }
</style>