<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css?v=3" />

    @RenderSection("Scripts", required: false)

</head>

<body>
    <div class="wrapper">
        <header class="header">
        </header>
        <div>
            <div>
                Hi! Let's pay!
            </div>
            <div>
                <form method="get" action="@Url.Action("CreatePayment", "Payment")">
                    <input type="text" name="count" placeholder="count" />
                    <input type="text" name="customerId" placeholder="customerId" />
                    <input type="submit" value="pay">
                </form>
            </div>
        </div>
        <main class="main">
            @RenderBody()
        </main>
        <footer class="footer">
        </footer>
    </div>
</body>
</html>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
