@using Flower_shop.Models
@model List<ProductViewModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/gallery_products.css?v=1" />

<section class="product">
    <div class="product__container">
        @foreach (ProductViewModel product in Model)
        {
            <div class="product__contant" onclick="location.href='@Url.Action("SingleProduct",
                                                                              "Gallery",
                                                       new {product})'">
                <div class="product__image">
                    <img src=@product.Img alt="Продукт" />
                </div>
                <div class="product__block-text">
                    <div class="text-product">
                        @product.Name
                    </div>
                    <div class="price-product">
                        @product.Price
                    </div>
                </div>
            </div>
        }
    </div>
</section>