@using Flower_shop.EfStuff.DbModels.Enums
@using Flower_shop.Models
@using Flower_shop.Services
@model List<ProductViewModel>
@inject UserService userService
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/gallery_products.css?v=1" />

<section class="product">
    <div class="product__container">
        @foreach (ProductViewModel product in Model)
        {
            <div class="product__contant" onclick="location.href='@Url.Action("SingleProduct", "Gallery", product)'">
                <div class="product__image">
                    <img src=@product.Img alt="Продукт" />
                </div>
                <div class="product__block-text">
                    <div class="text-product">
                        @product.Name
                    </div>
                    <div class="price-product">
                        @product.Price
                    </div>
                </div>
                @if (userService.IsAdmin())
                {
                    <form action="/AdminPlatform/ProductDelete" method="post">
                        <div class="product-remove">
                            <input name="Id" type="hidden" value="@product.Id" />
                            <input type="submit" value="Удалить" />
                        </div>
                    </form>

                }
            </div>
        }
    </div>
</section>