@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/gallery_edition.css?v=1" />

<section class="input">
    <div class="input__container">
        <div class="main-block">
            <form asp-controller="Gallery" asp-action="ProductEdition" method="post">
                <div class="block">
                    <div class=name-of-block>
                        НАЗВАНИЕ:
                    </div>
                    <div class="input-field">
                        <input name="name" value="" />
                    </div>
                </div>
                <div class="block">
                    <div class=name-of-block>
                        ФОТОГРАФИЯ В ФОРМАТЕ "Img"
                    </div>
                    <div class="input-field">
                        <input name="img" value="" />
                    </div>
                </div>
                <div class="block">
                    <div class=name-of-block>
                        ЦЕНА:
                    </div>
                    <div class="input-field">
                        <input name="price" value="" />
                    </div>
                </div>
                <div class="block">
                    <div class=name-of-block>
                        ТИП ПРОДУКЦИИ:
                    </div>
                    <div class="input-field">
                        <input name="type" value="" />
                    </div>
                </div>
                <div>
                    <input type="submit" value="СОХРАНИТЬ" />
                </div>
            </form>
        </div>
    </div>
</section>