@using Flower_shop.Models
@model ProductViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/singleProduct.css" asp-append-version="true" />

<div class="main-block">
    <div class="product-block">
        <img src=@Model.ImageUrl />
    </div>
    <div class="price-block">
        <div class="text">
            @Model.Name
        </div>
        <div class="price">
            @Model.Price
        </div>
        <div class="block-information">
            <div class="information-product">
                Заказать вы можете в магазине по адресу: <br />
                Ул. Чуйкова 75, павильон 37. В городе Лепель. <br />
                Или позвонив по номеру телефона: +375291089024
            </div>
            <div class="more-information-product">
                <a href="https://instagram.com/cvetu_podarki_lepel?igshid=YmMyMTA2M2Y=" target="_blank">
                    <img src="~/images/logo-instagram.png" id="logo-instagram">
                </a>
            </div>
        </div>
    </div>
</div>


