@using Flower_shop.Models
@model ProductViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/single-product.css?v=1" asp-append-version="true" />

<section class="single-product">
    <div class="single-product__container">
        <div class="single-product__contant">
            <div class="single-product__image">
                <img class="flower_pc" src="@Model.Img" alt="Цветы для PC">
            </div>
            <div class="single-product__block-text">
                <div class="text-product">
                    @Model.Name
                </div>
                <div class="price-product">
                    @Model.Price
                </div>
                <a href="" id="doesnt-work" class="button button_blue">ЗАКАЗАТЬ</a>
            </div>
        </div>
    </div>
</section>