.edition__container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 100px 15px 50px 15px;
    position: relative;
}
.edition {
    display: flex;
    justify-content: center;
    align-items: center;
}