.main-page {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-height: 500px;
    width: 100vw;
    max-width: 1920px;
    margin-bottom: 45px;
}

.first-block, .second-block, .third-block {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    flex: 0 0 50%;
    max-height: 373px;
    color: white;
    max-width: 100%;
    line-height: 33px;
    min-width: 286.5px;
}

.first-block {
    background: #7D9257;
}

.second-block {
    background: #2D69A9;
}

.third-block {
    background: #278011;
}

.main-text {
    font-size: 35px;
    font-family: Vinter-Regular,serif;
    letter-spacing: 2px;
}

.text {
    font-size: 17px;
    font-family: Vinter-Regular,serif;
    letter-spacing: 4px;
}

.btn-block, .btn-first-block, .btn-second-block, .btn-third-block {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    text-decoration: none;
    border: 0.8px solid black;
    border-radius: 25px;
    cursor: pointer;
    height: 50px;
    min-width: 130px;
    font-size: 20px;
    margin-top: 20px;
}

.btn-block {
    background-color: #7D9257;
    color: #fff;
    border: none;
    width: 340px;
}

.father-btn-block {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-first-block {
    background-color: #fff;
    color: #7D9257;
}

.btn-second-block {
    background-color: #fff;
    color: #2D69A9
}

.btn-third-block {
    background-color: #fff;
    color: #278011;
}


.main-image, .main-map {
    flex: 0 0 50%;
    max-height: 373px;
    max-width: 100%;
    min-width: 286.5px;
    min-height: 165.48px;
}

    .main-image img {
        min-height: 100%;
        min-width: 100%;
        max-height: 373px;
        width: 100%;
    }

    .main-map div {
        min-height: 100%;
        min-width: 100%;
        
    }

#block-with-map {
    max-height: 373px;
}
