.main-page {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-height: 500px;
    width: 100vw;
    max-width: 1920px;
}

.text-block {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    flex: 0 0 50%;
    background: #7D9257;
    max-height: 373px;
    color: white;
    max-width: 100%;
    line-height: 33px;
}

.main-text {
    font-size: 35px;
    font-family: Vinter-Regular,serif;
    letter-spacing:2px;
}

.text {
    font-size: 17px;
    font-family: Vinter-Regular,serif;
    letter-spacing: 4px;
}
.btn-main-block {
    display:flex;
    justify-content:center;
    align-items:center;
    background-color: #fff;
    color: #3c4619;
    text-transform: uppercase;
    text-decoration: none;
    border: 0.8px solid black;
    border-radius: 25px;
    cursor: pointer;
    height: 50px;
    min-width: 130px;
    font-size:20px;
    margin-top:20px;
}

.main-image {
    flex: 0 0 50%;
    max-height: 373px;
    max-width: 100%;
}

    .main-image img {
        max-height: 373px;
        width: 100%;
    }

.several-products {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 50px;
}

.product {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 250px;
    max-height: 400px;
    padding: 5px;
}

.product-image img {
    width: 230px;
    height: 230px;
}

.text{
    display:flex;
    flex-direction:column;
    width:100%;
    line-height:28px;
}
.name, .price {
    display: flex;
    align-items: center;
    font-size: 25px;
    padding-left:10px;
}
.price {
    font-family: Maison-Neue-Extended,sans-serif;
}
