a{
    color: white;
}
.header-block {
    background-color: #7D9257;
    height: 162px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 8px 8px 1px rgb(0 0 0 / 35%);
    position: relative;
}

.name img{
    width:190px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

    .buttons a {
        text-decoration: none;
        font-size: 18px;
        font-family: Maison-Neue-Extended,sans-serif;
        text-transform: uppercase;
        padding-right: 20px;
        color: white;
        letter-spacing: 2px;
    }
   