.main-block {
    display:flex;
    flex-direction:column;
}

.product-block {
    display:flex;
    justify-content:center;
    align-items:center;
    margin-top:10px;

}

    .product-block img {
        width:90%;
        border-radius:9px;
    }

.price-block {
    display:flex;
    flex-direction:column;
    margin-top:10px;
    
}
.text, .price {
    line-height: 28px;
    letter-spacing: normal;
    font-size: 1.56em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.price {
    color: gray;
}
.block-information {
    padding-top: 50px;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}
.information-product, .more-information-product {
    font-size: 1em;
    font-family: Maison-Neue-Extended,sans-serif;
    color:black;
    letter-spacing: 2px;
}
#logo-instagram{
    width:50px;
}
.more-information-product a{
    cursor:pointer;
}