@model List<ProductViewModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/gallery_products.css?v=2" />

<section class="product">
    <div class="product__container">
        @foreach (ProductViewModel product in Model)
        {
            <div class="product__contant" >
                <div class="product__image">
                    <img src="@product.ImagePath" alt="Продукт" />
                    
                </div>
                <div class="product__block-text">
                    <div class="text-product">
                        @product.Name
                    </div>
                    <div class="price-product">
                        @product.Price
                    </div>
                </div>
                    <form  class="remove-block">
                        <div class="product-remove">
                            <input name="Id" type="hidden" value="@product.Id" class="product-id"/>
                            <input name="delete-product" value="Удалить" class="delete-product"/>
                        </div>
                    </form>
            </div>
        }
    </div>
</section>
