@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/admin_platform.css?v=2" />

<section class="platform">
    <div class="platform__container">
        <div class="main-block">
            <div class="platform__button">
                <a href="/AdminPlatform/ProductEdition" class="button button_blue">ДОБАВИТЬ ПРОДУКТ</a>
                <a href="/AdminPlatform/TypeProductEdition" class="button button_blue">ДОБАВИТЬ ИЛИ УДАЛИТЬ ТИП ПРОДУКТА</a>
            </div>
        </div>
    </div>
</section>
