@using Flower_shop.Models
@model ProductViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/forms.css?v=1" />
<link rel="stylesheet" href="~/css/admin_edition.css?v=1" />

<section class="edition">
    <div class="edition__container">
        <div class="block">
            <div class="come-back-action">
                <a href="/AdminPlatform/Platform">НАЗАД</a>
            </div>
            <div class="name">
                Добавить продукт
            </div>
            <div class="form-field">
                <form method="post" enctype="multipart/form-data">
                    <div class="input">
                        @Html.TextBoxFor(x => x.Name, new {@class="input-field", placeholder="Название"})
                    </div>
                    <div class="input">
                        @Html.TextBoxFor(x => x.Price, new {@class="input-field", placeholder="Цена"})
                    </div>
                    <div class="input">
                        @Html.TextBoxFor(x => x.UploadedFile, new {@class="input-field", type="file", placeholder="Картинка"})
                    </div>
                    @foreach (TypeProductViewModel typeProduct in Model.Types) ;
                    {
                        <div class="input">
                            
                            @Html.TextBoxFor(x => x.UploadedFile, new {@class="input-field", type="file", placeholder="Картинка"})
                        </div>
                    }
                    <div class="button-submit">
                        <input type="submit" value="ДОБАВИТЬ" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>