@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />

<div class="main-page">
    <div class="text">
        Живи Пахни Цвети
    </div>
    <div class="image">
        <img src="~/images/flower7v2.jpg"/>
    </div>
</div>
