@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />

<div class="main-page">
    <div class="block">
        <div class="flower-img">
            <img src="~/images/flower1.jpg" />
        </div>
        <div class="text-block">
            <div class="word">
                Flowers
            </div>
            <div class="btn">
                Посмотреть больше
            </div>
        </div>
    </div>
    <div class="block">
        <div class="text-block">
            <div class="word">
                Decor
            </div>
            <div class="btn">
                Посмотреть больше
            </div>
        </div>
        <div class="flower-img">
            <img src="~/images/flower2.jpg" />
        </div>
    </div>
    <div class="block">
        <div class="flower-img">
            <img src="~/images/flower3.jpg" />
        </div>
        <div class="text-block">
            <div class="word">
                Good job
            </div>
            <div class="btn">
                Посмотреть больше
            </div>
        </div>
    </div>

</div>
